@import url(https://cedrickzedd.github.io/betterdiscordstuff/CSS-Editor-Theme/base.css);
:root{
    --comment: #6272A4;
    --class: #50fa7b;
    --value:#bd93f9;
    --property:#8be9fd;
    --close-button:#ff5555;
    --max:#f1fa8c;
    --border:#44475a;
    --main-bg:#282a36;
    --border-radius:8px;
    --theme:"Dracula - ";
}
