@import url(https://cedrickzedd.github.io/betterdiscordstuff/CSS-Editor-Theme/base.css);
:root{
    --comment: #ABB2BF;
    --class: #98C379;
    --value:#C678DD;
    --property:#56B6C2;
    --close:#E06c75;
    --max:#E5C07B;
    --border:#282a34;
    --main-bg:#282c34;
    --border-radius:8px;
    --theme:"One Dark - ";
}
